<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="uu" class="spring.chapter01.UserService" scope="prototype"></bean>

    <bean id="uu2" class="spring.chapter01.UserService"></bean>

    <bean id="u1" class="spring.chapter02.User"></bean>
</beans>
